<template>
    <div>
        <a href="#bottom" class="uk-button uk-button-primary uk-button-small"  @click.prevent="scrollTo('#bottom')">Опуститься вниз</a>
        <h1></h1>
        <spin v-if="loading" />
        <div style="display:flex; flex-wrap: wrap;" v-else>
            <post
                v-for="(post, index) in posts"
                :key="index"
                :title="post.title"
                :body="post.body"
                :date="post.created_at"
                :postId="post.id"
            />
        </div>
        <h1></h1>
        <div id="bottom">
            <progress id="js-progressbar" class="uk-progress" value="1" max="100"></progress>
            <h1 class="uk-heading-small">Вы на самом дне</h1>
        </div>
    </div>

</template>

<script>

    UIkit.util.ready(function () {

        var bar = document.getElementById('js-progressbar');

        var animate = setInterval(function () {

            bar.value += 1;

            if (bar.value >= bar.max) {
                clearInterval(animate);
            }

        }, 1000);

    });

    import Spin from "../components/Spin";
    import axios from 'axios';
    import Post from "../components/Blog/Post";
    export default {
        components: {
            Spin,
            Post
        },
        data: () => ({
            loading: true,
            posts: []
        }),
        mounted() {
            this.loadPosts();
        },
        methods: {
            async loadPosts() {
              const { data } = await axios.get('/api/posts')

              this.posts = data;

              this.loading = false;
            },

            scrollTo(selector) {
                document.querySelector(selector).scrollIntoView({ behavior: 'smooth' })
        }
    }
    }
</script>

<style scoped>
    .uk-card {
        width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .uk-card:last-child {
        margin-right: 0;
    }
</style>
