<template>

<div>
    <div>
        <message title="Hello world!" body="Lorem ipsum dolor amet."></message>
    </div>
    <h1></h1>
    <div>
        <message title="Goodbye World!" body="А как писать здесь?"></message>
    </div>
    <h1></h1>
    <div>
        <modal title="Внимание!" body="Спасибо за внимание" footer="ебать спасибо от души"></modal>
    </div>
    <h1></h1>
    <div>
        <coupon></coupon>
    </div>
    <h1></h1>
    <div>
        <progress-view inline-template>
        <div>
            <h1>Ваш прогресс: {{ completionRate }}%</h1>

            <p><button @click="completionRate += 10">Увеличить на 10%</button></p>
        </div>
        </progress-view>
    </div>
    <h1></h1>
    <div>
        <coupon-2 />
    </div>
</div>
</template>

<script>
</script>

<style>

</style>
