<template>
    <div>
        <div class="uk-alert-danger" uk-alert v-if="error">
            <a class="uk-alert-close" uk-close></a>
            <p>Проверьте правильность введенных полей</p>
        </div>
        <form style="margin-bottom: 20px;">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Регистрация</legend>

                <div class="uk-margin">
                    <input class="uk-input" v-model="form.name" type="text" placeholder="Имя">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" v-model="form.surname" type="text" placeholder="Фамилия">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" v-model="form.nickname" type="text" placeholder="Логин">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" v-model="form.password" type="text" placeholder="Пароль">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" v-model="form.email" type="text" placeholder="Адрес электронной почты">
                </div>

                <button class="uk-button uk-button-primary" @click.prevent="store">
                    <div uk-spinner v-if="loading"></div>
                    <span v-else>Зарегистрироваться</span>
                </button>
            </fieldset>

        </form>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        components: {},
        data: () => ({
            form: {
                name: "",
                surname: "",
                nickname: "",
                email: "",
                password: ""
            },
            loading: false,
            error: false
        }),
        methods: {
            store() {
                this.loading = true;
                axios.post('/api/register', this.form, {
                    headers: {
                        "Content-type": "application/json"
                    }
                })
                .then(res => {
                    if (res.data.status) {
                        this.$router.push('/');
                    } else {
                        setTimeout(() => {
                            this.loading = false;
                        }, 300);
                        this.error = true;
                    }
                })
            }
        }
    }
</script>
