<template>
    <input type="text" :value="code" @input="updateCode($event.target.value)" ref="input">
</template>

<script>
 export default {
     props: ['code'],

     data() {
         return {
             invalids: ['ALLFREE', 'ALMOSTFREE', 'PRIVET']
         }
     },

     methods: {
         updateCode(code) {

             if(this.invalids.includes(code)) {
                 alert ('Не работает уже');

                 this.$refs.input.value = code = '';
             }

             this.$emit('input', code);
         }
     },
 }
</script>
