<template>
    <nav class="uk-navbar-container" uk-navbar>

        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li v-for="link in links" :key="link">
                    <router-link :to="{ name: link.name }" class="uk-button uk-button-text">{{ link.title }}</router-link>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                <router-link :to="{ name: 'register' }" class="uk-button uk-button-text">Регистрация</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                links: [
                    {
                        title: "Главная",
                        name: 'main',
                    },
                    {
                        title: "Блог",
                        name: 'blog',
                    },
                    {
                        title: "Создать пост",
                        name: 'createPost',

                    },
                    {
                        title: "Контакты",
                        name: 'contacts,'
                    }
                ]
            }
        }
    }
</script>

<style scoped>
</style>
