<template>
    <div class="uk-card uk-card-default uk-card-body" v-show="isVisible">
        <h3 class="uk-card-title">{{ title }}</h3>
            <p>{{ body }}</p>
        <button class="uk-button uk-button-danger" @click="isVisible = false">Скрыть</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isVisible: true
        }
    },
    props: {
        title: {
            type: String,
            default: "NULL"
        },
        body: {
            type: String,
            default: "NULL"
        }
    }
}
</script>

