<template>
    <div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" data-src="assets/maga.png" uk-img>
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{title}}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time>{{date}}</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{body}}</p>
    </div>
    <div class="uk-card-footer">
        <router-link :to="{ name: 'post', params: { id: postId}}" class="uk-button uk-button-text">
            Читать далее
        </router-link>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: "NULL"
        },
        body: {
            type: String,
            default: "NULL"
        },
        date: {
            type: String,
            default: "NULL"
        },
        postId: {
            type: Number,
            default: 0
        }
    }
}
</script>

<style scoped>

</style>
